<div class="container">
    <div class="row ">
        <div class="col s12 m6">
            <div class="footer-text-color">
                <img src="{{ url_for('static', filename='img/cheflogo.PNG') }}" style="height:7%;width:7%;"  alt="gourmet story logo" lazyload="on">
            </div>
            <p class="grey-text text-lighten-4">Give us a call!</p>
            <a href="tel:0612345678"><p>Telephone: 0612 345 678</p></a>
        </div>
        <div class="col s12 m6">
            <h2></h2>
            <ul>
            <div class="col s12 m6 l3">
                <li>
                    <a class="text-shadow-2 waves-effect btn btn-floating footer-text-color lighten-2"
                        href="https://www.instagram.com/" target="_blank" rel="noopener"
                        aria-label="Instagram">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </div>
            <div class="col s12 m6 l3">
                <li>
                    <a class="text-shadow-2 waves-effect  btn btn-floating footer-text-color lighten-2"
                        href="https://www.pinterest.com/" target="_blank" rel="noopener"
                        aria-label="Pinterest">
                        <i class="fab fa-pinterest" aria-hidden="true"></i>
                    </a>
                </li>
            </div>
            <div class="col s12 m6 l3">
                <li>
                    <a class="text-shadow-2 waves-effect btn btn-floating footer-text-color lighten-2" href="https://www.facebook.com/"
                        target="_blank" rel="noopener" aria-label="facebook">
                        <i class="fab fa-facebook-f material-icons" title="SabihaAfroze" aria-hidden="true"></i>
                    </a>
                </li>
            </div>
            <div class="col s12 m6 l3">
                <li>
                    <a class="text-shadow-2 waves-effect  btn btn-floating footer-text-color lighten-2"
                        href="https://github.com/SabihaAfroze/gourmet_story-mp-3" target="_blank" rel="noopener"
                        aria-label="GitHub - SabihaAfroze">
                        <i class="fab fa-github material-icons" title="SabihaAfroze" aria-hidden="true"></i>
                    </a>
                </li>
            </div>
            </ul>
        </div>
    </div>                
       
        <div class="row">
            <div class="col s12 center-align">&copy;<span id="year"></span><strong> All rights reserved to Gourmet story</strong>
            </div>
        </div>
</div>