@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

body{
    background-color: beige;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }
    
.nav-style{
    background-color:rgb(251, 207, 84);
    
}

.logo-style img{
    height: 40%;
    width: 40%;
}

.nav-ul-style li{
    color:#534825;
}

footer {
    
    line-height: 2em;
    padding-top: 1em;
    
    
}

.footer-style{
    background-color:rgb(251, 207, 84);
    color:#534825;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: small;
    
    
}

.footer-text-color{
    color:#534825;
}
