
body{
    background-color: beige;
    min-height: 100vh;
    background-size: cover;
}
.nav-style{
    background-color:rgb(251, 207, 84);
    
}

.logo-style img{
    height: 40%;
    width: 40%;
}

.nav-ul-style li{
    color:#534825;
}

footer {
    font-size: 1.5em;
    line-height: 2em;
    padding-top: 1em;
    border-bottom: 2px solid rgb(251, 207, 84), 1;
    
}

.footer-color{
    background-color:rgb(251, 207, 84);
    
}

.footer-text-color{
    color:#534825;
}