<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}{% endblock %}
    
    <title>{% block title %}{% endblock %}Gourmet story</title>
</head>

<body>
    <header>
        <!-- top navbar -->
        <nav class="nav-style">
            <div class="nav-wrapper">

                <a href="#!" class="brand-logo left logo-style"><img
                        src="{{ url_for('static', filename='img/logo.PNG') }}" alt="gourmet story logo"
                        lazyload="on"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down nav-ul-style">
                    <li><a href="#"><i class="fas fa-search"></i></a></li>
                    <li style="padding-top:4px;"><a href="#">Home</a></li>
                    {% if session.user %}
                    <li style="padding-top:4px;"><a href="{{url_for('profile',username=session['user'])}}">Profile</a></li>
                    <li style="padding-top:4px;"><a href="{{url_for('add_recipe')}}">New Recipe</a></li>
                    <li style="padding-top:4px;"><a href="{{url_for('logout')}}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{url_for('register')}}">LogIn/Register <i class="fas fa-user"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li style="padding-top:4px;"><a href="#">Home</a></li>
            <li style="padding-top:4px;"><a href="#">All Recipe</a></li>
            {% if session.user %}
            <li style="padding-top:4px;"><a href="{{url_for('profile',username=session['user'])}}">Profile</a></li>
            <li style="padding-top:4px;"><a href="{{url_for('logout')}}">Log Out</a></li>
            {% else %}
            <li><a href="{{url_for('register')}}">LogIn/Register <i class="fas fa-user"></i></a></li>
            {% endif %}
            
        </ul>

    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    
     <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h5 class="yellow darken-4 center-align">{{ message }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <!-- FOOTER -->
    <footer class="footer-style">
        {% include "fragments/_footer.html" %}
    </footer>



    <script src="https://code.jquery.com/jquery-3.4.0.slim.js"
        integrity="sha256-milezx5lakrZu0OP9b2QWFy1ft/UEUK6NH1Jqz8hUhQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

    
</body>

</html>