{% extends "base.html" %}
{% block content %}


    <div class="row flex">  
    <!-- All recipe cards -->
    {% for recipe in recipes %}
    
    
        
        <div class="col s12 m6 l3">
        
            <div class="card">
                <div class="card-image">
                    <img src="{{recipe.img_src}}" class="activator" alt="Recipe" lazyload="on">
                        <a href="" class="halfway-fab btn-floating pink pulse">
                            <i class="fas fa-heart"></i>
                        </a>
                        <span class="card-title"><strong>{{recipe.recipe_category}} : {{recipe.recipe_name}}</strong></span>
                </div>
        
                <div class="card-content">
                    <p>{{recipe.recipe_description}}</p>
                </div>
        
                <div class="card-action">
                    <a href="#">Full recipe</a>
                </div>
            </div>

        </div>

    
  
    {% endfor %}
</div>


{% endblock %}

