{% extends "base.html" %}
{% block content %}


<div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix teal-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_recipes') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="teal darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div class="row flex">  
    <!-- All recipe cards -->
    {% for recipe in recipes %}
    
    
        
        <div class="col s12 m6 l3">
        
            <div class="card">
                <div class="card-image">
                    <img src="{{recipe.img_src}}" class="activator" alt="Recipe" lazyload="on">
                        <a href="" class="halfway-fab btn-floating pink pulse">
                            <i class="fas fa-heart"></i>
                        </a>
                        <span class="card-title"><strong>{{recipe.recipe_category}} : {{recipe.recipe_name}}</strong></span>
                </div>
        
                <div class="card-content">
                    <p>{{recipe.recipe_description}}</p>
                    <p>Recipe by:<strong>{{recipe.created_by}}</strong></p>
                </div>
        
                <div class="card-action">
                    <a href="#">Full recipe</a>
                </div>
            </div>

        </div>

    
  
    {% endfor %}
</div>


{% endblock %}

